* {
    box-sizing: border-box;
}

.content {
    margin-left: 630px;
}

body {
    background: url(img/greek-vase.png);
    background-repeat: repeat;
    background-size: auto;
}

h2{
    text-align: center;
    margin: 0px;
}

p, li{
    font-size: 18px !important; 
}

p:before {
    content: "🛈";
}

.column {
    float: left;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

img {
    border: 2px solid aquamarine;
    border-radius: 50%;
    margin-right: 50px;
}
