body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    margin: 0 auto;
    width: fit-content;
}
h1{
    text-align: center;
}
section{
    display: grid;
    grid-template: 400px 400px / 400px 400px;
    gap: 1em;
}
section div{
    background-image: url('img/wood.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
section div img{
    max-height: 150px;
    max-width: 150px;
    object-fit: contain;
}
section div::before{
    position: absolute;
    top: 5px;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}
.melons::before{
    content: 'Vesimeloni: 50€ / g';
}
.carambolas::before{
    content: 'Karambolat 2,50 € / kpl'
}
.bananas::before{
    content: 'Banaanit 3.50€ / kpl'
}
.pears::before{
    content: 'Päärynät 1.50€ / kpl'
}
.melons img {
    max-height: 300px;
    max-width: 300px;
    clip-path: circle(46.6% at 50% 50%);
    animation: roll infinite 5s forwards;
    animation-timing-function: linear;
}
@keyframes roll{
    0%{
        rotate: 0;
    }
    100%{
        rotate: 360deg;
    }
}
.carambolas img:nth-child(even){
    rotate: 180deg;
}
.bananas{
    flex-direction: column;
}
.bananas img:nth-child(2){
    transform: scaleX(-1);
}
.pears{
    flex-wrap: wrap;
}